.header {
  position: fixed;
  background-color: transparent;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 50px;
  margin: auto;

}

.headerLogin {
  background-color: var(--bg-color);
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 400px;
  height: 50px;
  margin: auto;
}