.header {
  position: fixed;
  background-color: transparent;
  justify-content: space-between;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.headerLogin {
  background-color: transparent;
  justify-content: space-around;
  display: flex;
  align-items: center;
  width: 100%;
  height: 70px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}
