.backGround {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: var(--white-color);
  overflow-y: scroll;
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: normal;
  }
}
.userContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ContainerTitle {
  display: flex;
  width: 100%;
  text-align: center;

  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
  }
}

.avatarForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}
