.backGround {
  display: flex;
  height: 558px;
  background-color: var(--bg-color);

}

.ContainetTitle {
  display: flex;
  width: 100%;
  text-align: center;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
}

.avatarForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}