.container {
  display: flex;
  align-items: center;
}

.form {
  position: relative;
}
.input {
  width: 250px;
  font-size: 14px;
  padding: 5px 10px 5px 65px;
  border-radius: 5px;
  color: #000000;
  outline: none;
  &:focus {
    border: 2px solid #ffbf00;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 320px;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    height: 50px;
    width: 1400px;
    font-size: 20px;
  }
}

.iconContainer {
  position: absolute;
  top: 15px;
  left: 15px;
  @media (min-width: 768px) and (max-width: 1199px) {
    right: 75px;
  }
  @media (min-width: 1200px) {
    right: 155px;
  }
}

.icon {
  cursor: pointer;
  width: 20px;
  @media (min-width: 1200px) {
    width: 35px;
  }
}
.iconSend {
  cursor: pointer;
  width: 20px;
  @media (min-width: 1200px) {
    width: 35px;
    height: 30px;
  }
}
.button {
  position: absolute;
  top: 15px;
  right: 5px;
  color: #0d0d0d;
  background: transparent;
  border: none;
  cursor: pointer;
  :hover {
    color: #ffbf00;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    width: 60px;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    width: 70px;
    font-size: 20px;
  }
}

.containerEmoji {
  position: absolute;
  top: -430px;
  left: 15px;
  @media (min-width: 768px) and (max-width: 1199px) {
    top: -430px;
    left: 50px;
  }
  @media (min-width: 1200px) {
    top: -430px;
    right: 50px;
    left: 500px;
  }
}
