.titleContainer {
  font-size: 34px;
  line-height: 1.17;
  font-weight: 700;
  margin-top: 10px;
  color: var(--black-color);
  @media screen and (min-width: 1200px) {
    width: 50%;
    margin-top: 50px;
  }
}
