.box {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 500px;
  border: 2px solid var(--bg-btn-color);
  margin-left: 30px;
  border-radius: 12px;
  margin-top: 50px;
  margin-right: 30px;
  padding: 10px;
  @media screen and (min-width: 1200px) {
    padding: 30px;
  }
}
.boxList {
  width: 350px;
  height: 450px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  overflow-y: scroll;
  margin-top: 50px;
}
.title {
  font-size: 34px;
  line-height: 1.17;
  font-weight: 700;
  color: var(--black-color);
  margin-bottom: 15px;
  position: absolute;
}

.roomList {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  gap: 15px;
}
.roomItem {
  color: var(--black-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 160px;
}
.userContainer {
  display: flex;
  align-items: center;
}
.avatarRoom {
  object-fit: cover;

  width: 35px;
  height: 35px;
  margin-right: 10px;
  border-radius: 50%;
}
.nameUser {
  outline: none;
  font-size: 10px;
  font-weight: 500;
  font-style: italic;
  color: var(--black-color);
  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
  }
  @media (min-width: 1200px) {
    font-size: 20px;
  }
}
.btnContainer {
  display: flex;
  align-items: center;
}
.btnDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  margin-left: 10px;
  font-weight: 500;
  font-size: 20px;
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--bg-btn-hover-color);
    color: var(--bg-btn-hover-color);
  }
}
