.backGround {
  height: 657px;
  background-color: var(--bg-color);
  background-image: url(../../img/4535353.jpg);
  background-position: bottom right -260px;
  background-repeat: no-repeat;
  background-size: contain;
  padding-top: 50px;
}

.ContainerTitle {
  display: flex;
  width: 40%;
  padding-top: 50px;
  padding-left: 50px;
  text-align: center;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}
.link {
  margin-left: 5px;
  color: var(--main-text-color);
  text-decoration: underline;
}
.noaccount {
  margin-top: 12px;
  color: var(--main-text-color);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: calc(18 / 12);
}
