.backGround {
   height: 637px;
    background-color: var(--bg-color);
    background-image: url(../../img/4567777.jpg);
    background-position: bottom right -150px;
    background-repeat: no-repeat;
    background-size: contain;

  }
  
  .ContainerTitle {
    display: flex;
    width: 35%;
    padding-left: 80px;
    text-align: center;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
  }