.buttonUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 136px;
  font-weight: 500;
  font-size: 20px;
  margin-top: 10px;

  background: var(--bg-btn-color);
  color: var(--white-color);
  border: 1px solid var(--bg-btn-hover-color);
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-btn-hover-color);
  }

}
.form {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  padding: 15px 15px 0 15px;
  @media screen and (min-width: 1200px) {
    padding: 50px 15px 0 15px;
    gap: 20px;
  }
}

.label {
  position: relative;
  display: flex;
  flex-direction: column;
}

.iconPassword,
.iconUser,
.iconEmail {
  margin-left: 5px;
  stroke: 0;
  fill: var(--bg-btn-color);
  position: absolute;
  top: 14px;
  left: 10px;
}
.errorMessage {
  color: var(--black-color);
  font-size: 10px;
  margin: 0;
  padding: 0;
}
