.backGround {
  height: calc(100vh - 62px);
  background-color: var(--white-color);
  background-image: url(../../img/4567777.jpg);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: contain;

  @media screen and (min-width: 1200px) {
    height: calc(100vh - 56px);
    background-position: bottom right -250px;
  }
}
.buttonUp {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 136px;
  font-weight: 500;
  font-size: 20px;

  background: var(--bg-btn-color);
  color: var(--white-color);
  border-radius: 12px;
  cursor: pointer;
  &:hover {
    background-color: var(--bg-btn-hover-color);
  }
  @media screen and (min-width: 1200px) {
    margin-top: 40px;
  }
}
.buttonIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 130px;
  font-weight: 500;
  font-size: 20px;

  background: var(--black-color);
  color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--bg-btn-hover-color);
    color: var(--bg-btn-hover-color);
  }
  @media screen and (min-width: 1200px) {
    margin-top: 40px;
  }
}
.btnContainer {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  text-align: center;
  align-items: center;
  justify-content: center;
  @media screen and (min-width: 1200px) {
    width: 50%;
  }
}
.ContainerTitle {
  display: flex;
  padding: 16px;
  text-align: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 1200px) {
    align-items: flex-start;
    width: 70%;
    padding-top: 50px;
    padding-left: 50px;
  }
}
