:root {
  --bg-btn-color: rgb(15, 133, 15);
  --bg-btn-hover-color: rgba(45, 181, 45);
  --bg-color: rgb(219, 211, 216);
  --bg-chat-color: rgba(45, 181, 45, 0.5);
  --main-text-color: rgb(40, 43, 46);
}
