.container {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 0;
  }
}
.containerMobile {
  position: relative;
}

.buttonIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42px;
  width: 136px;
  font-weight: 500;
  font-size: 20px;
  margin-left: 30px;
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--bg-btn-hover-color);
    color: var(--bg-btn-hover-color);
  }
}
.span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: var(--white-color);
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    align-items: center;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    font-size: 24px;
  }
}
.UserProfile {
  display: flex;
  align-items: center;
  color: var(--black-color);
  &:hover {
    color: var(--bg-btn-hover-color);
  }
}

.name_title {
  /* display: none; */
  @media (min-width: 768px) {
    margin-left: 5px;
    color: var(--black-color);
  }
}
.avatar {
  object-fit: cover;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50px;
  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}
.icon {
  margin-left: 5px;
}
.btnBurger {
  /* position: relative; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  cursor: pointer;
  /* z-index: 200; */
  &:hover {
    fill: var(--bg-btn-color);
  }
  @media screen and (min-width: 1200px) {
    display: none;
  }
}
.btnBurger svg {
  width: 20px;
  height: 20px;
  /* &:hover {
    fill: var(--bg-btn-color);
  } */
}

.buttonLogout {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 75px;
  font-weight: 500;
  font-size: 12px;
  /* margin-left: 30px; */
  background: var(--black-color);
  color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--white-color);
  cursor: pointer;
  &:hover {
    border: 1px solid var(--bg-btn-hover-color);
    color: var(--bg-btn-hover-color);
  }
}
.mobContainer{
  display: flex;
  align-items: center;
  gap: 10px;
}
