.container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
    margin-right: 0;
  }
}

.button {
  display: flex;
  align-items: center;
  color: #f0f0f0;
  background: transparent;
  font-weight: 700;
  border: none;
  margin-top: 10px;
  padding: 0;
  font-size: 14px;
  &:hover {
    color: #ffbf00;
  }
  @media (min-width: 768px) and (max-width: 1199px) {
    font-size: 16px;
    margin-top: 0px;
    margin-left: 20px;
  }
  @media (min-width: 1200px) {
    margin-top: 0px;
    font-size: 24px;
    margin-left: 20px;
  }
}
.span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-size: 14px;
  color: #f0f0f0;
  @media (min-width: 768px) and (max-width: 1199px) {
    flex-direction: row;
    align-items: center;
    font-size: 16px;
  }
  @media (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
    font-size: 24px;
  }
}
.user {
  display: flex;
  align-items: center;
}

.name {
  margin-left: 5px;
  color: #f0f0f0;
}

.avatar {
  width: 20px;
  height: 20px;
  margin-left: 5px;
  border-radius: 50px;
  @media (min-width: 768px) {
    width: 30px;
    height: 30px;
  }
}
.icon {
  margin-left: 5px;
}
